<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script>
        const roomName = "<%= roomName %>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        #message-container {
            width: 80%;
            max-width: 1200px;
        }

        #message-container div {
            background-color: #CCC;
            padding: 5px;
        }

        #message-container div:nth-child(2n) {
            background-color: #FFF;
        }

        #send-container {
            position: fixed;
            padding-bottom: 30px;
            bottom: 0;
            background-color: white;
            max-width: 1200px;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #message-input {
            flex-grow: 1;
            background: rgb(238, 238, 238);
            color: rgb(7 2 18);
            border: 1px solid black;
            outline: none;
            height: 28px;
            padding: 0 12px;
            border-radius: 8px;
        }

        button{
            background: transparent;
            color: black;
            border: 1px solid black;
            font-size: 20px;
            padding: 4px;
            letter-spacing: 2px;
            text-transform: uppercase;
            cursor: pointer;
            margin: 10px 10px;
            border-radius: 8px;
            /* animate and time the transitions*/
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        button:hover{
            background-color: rgb(99, 96, 96);
            border-radius: 8px;
            color: rgb(255, 255, 255);
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
    </style>
</head>

<body>
    <div id="message-container"></div>
    <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
    </form>
</body>

</html>